body {
  width: 100%; 
  height: 100vh; 
  font-family: "League Spartan ", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: bold;
  font-variation-settings: "wdth" 100;
  background-image: linear-gradient(white 30%, black);

}
#Radnavbar
{
  background-color: #002868;
 margin-bottom: .8%;
 padding: 0%;
}
#QLabel
{
  background-color: #BF0A30;
  text-align: center;
  padding: 2.5%;
 margin-bottom: 2%;
  
}
.Qbtn
{
  background-color: #BF0A30;
  color: white;
  padding: 5%;
  margin: 2%;
 
}
.icon
{
  color: white;
}
.list-group-item {
  margin: auto;
}

.lb {
  color: black;
  background-color: white;
  border-color: #ddd;
  margin: 1.5%;
  padding: 5%;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
  color: white;
}

#Themabuttons {
  background-color: #002868;
  padding: 5%;
  
  
}

#title {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;
  color: white;
  text-shadow: #BF0A30	0 -4px;
}

header .btn-primary {
  transition: all 0.3s ease;
}

header .btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}


#Themabuttons .btn.lb:hover {
  color: white;
}

.navbar-nav .nav-item .nav-link {
  color: white;
}
.navbar-toggler
{
  border-color: transparent ;
}

.navbar-brand h1 {
  margin: 0;
}

.testbox {
  width: 100%;
  height: 100%;
  border-width: 5px;
  border-color: greenyellow;
  border-style: solid;
  align-content: center;
}


